/* .buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
} */

.headers{
    display:flex;
    height:70px;
    justify-content: center;
    align-items: center;
}